/**/.gitignore export-ignore
/**/.gitattributes export-ignore
/**/Tests export-ignore
/**/*Test.php export-ignore
/.github export-ignore
/phpstan.dist.neon export-ignore
/phpunit.xml.dist export-ignore
/ecs.php export-ignore
/rector.php export-ignore
