includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    phpVersion:
        min: 80100
        max: 80599
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        - src
    fileExtensions:
        - 'php'
    type_coverage:
        declare: 100
        return_type: 100
        param_type: 100
        property_type: 100
        constant: 0 # requires php 8.3
